<h1> Portfolios </h2>
<%if flash[:success] %>
 <div class="alert alert-success">
   <h3> <%=flash[:success] %> </h3>
 </div>
<%end%>
<div class="row">
  <button class="btn btn-primary btn-lg pull-right" data-target="#modalPortfolio" data-toggle="modal" >New Portfolio</button>
</div>
<div class="row">
  <ul class="nav nav-tabs">
    <% @portfolios.each_with_index do |p, index| %>
    <%active = ""%>
    <% if index ==0 %>
    <% active= "active"%>
    <% end%>
      <li class="">
            <a  class="<%=active%>" data-toggle="tab" href="#panel_<%=p.id%>"> 
              <%=p.name%> 
            </a> 
      </li>
    <%end%>
    
  </ul>
  <div class="tab-content">
    <% @portfolios.each_with_index do |p, index| %>
    <%active = ""%>
    <% if index ==0 %>
    <% active= "active"%>
    <% end%>
     

     <div class="tab-pane <%=active%>" id="panel_<%=p.id%>">
      
       <%=p.name%> 
     </div>
    <% end%>    
  </div>
</div>
<div id="modalPortfolio" class="modal fade" tabindex="-1" role="dialog">
  <%= form_for @portfolio, url:'portfolio/create', method: 'post' do |f| %>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="name">Portifolio Name</label>
          <%=f.text_field :name,  class: 'form-control', html:{ class:'form-control', required:'true'} %>
          
        </div>

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  <%end%>
</div>
