<!DOCTYPE html>
<html>
<head>
  <title>CryptoPortifolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse">
   <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapse" data-target="#bs-exampple-navbar-collapse1">
      <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%=link_to("Crypto Portfolio",root_path, class:"navbar-brand") %>
      <ul class="nav nav-pills">
        <li><%=link_to("Coins",root_path, class:"navbar-item") %></li>
        <li> <%=link_to("Porfolios",url_for(controller: 'portfolio', action: 'index'), class:"navbar-item") %></li>
      </ul>

    </div>
    <div class="collapse navbar-collapse" id="bs-exampple-navbar-collapse1">
    <ul class="nav navbar-nav navbar-right">

    </ul>
    </div>
   </div>
</nav>
<div class="container">
<%= yield %>
</div>
</body>
</html>
